In [ ]:
 # Take two inputs from the user and tell which number is greater.
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
print(a, b)
if a>b:
  print("A is greater.")
else:
  print("B is greater.")

Enter first number:10
Enter second number:20
10 20
B is greater.

In [ ]:
# Find the area and perimeter of a rectangle and find for the same dimension is perimeter greater or area greater.
length= int(input("Enter the length:"))
breadth= int(input("Enter the breadth:"))
print("Area of rectangle is:", length*breadth)
print("Perimeter of rectangle is:", 2*(length+breadth))
if length*breadth > 2*(length+breadth):
  print("Area of rectangle is greater.")
else:
  print("Perimeter of rectangle is greater.")

Enter the length:20
Enter the breadth:40
Area of rectangle is: 800
Perimeter of rectangle is: 120
Area of rectangle is greater.

In [ ]:
# check the number is prime
int(input("Enter the number:"))
for i in range(2,n):
  if(n%i == 0):
    print("the number is not prime.")
    break
else:
    print("the number is prime.")

Enter the number:23
the number is not prime.

In [ ]:
# GCD of two numbers(Euclidean Algorithm)
a=60
b=48
while b!=0:
  a,b = b, a%b
  print(a)

48
12

In [ ]:
 # Create a variale n. assign it any of the following values. print 1 to n. using for loop.
 for i in range(1,4):
  print(i)

1
2
3

In [ ]:
# Print addition of all numbers from 1 to n.
n= int(input("enter the number:"))
sum= 0
for i in range(1,n+1):
  sum = sum+i
  print("sum from 1 to", n, "is:", sum)

enter the number:4
sum from 1 to 4 is: 1
sum from 1 to 4 is: 3
sum from 1 to 4 is: 6
sum from 1 to 4 is: 10

In [ ]:
# give n as input, print sum of squares of numbers from 1 to n.
n=int(input("Enter the number:"))
sum= 0
for i in range(1,n+1):
  sum = sum+(i*i)
print("the sum is", sum)

Enter the number:4
the sum is 30

**STRING**

In [ ]:
# string
print("hello"+"world")
print("ab"+"cd")
print("4"+"8")
print("ab"+"4")

helloworld
abcd
48
ab4

In [ ]:
#given a string as input. count number of a's in the string
n=input("Enter the string:")
count= 0
for i in n:
  if i =='a':
    count+=1
print(count)

Enter the string:abcsakgrewagkj
3

In [ ]:
n=1
for i in range(2,n):
  if(n%i == 0):
    print("the number is even.")
    break
else:
    print("the number is odd.")

the number is odd.

In [ ]:
x=22
y=10
z= x%y
if(z<=2):
  print(x)
  print(y)

22
10

In [ ]:
num= 67;
if (num<55):
  print("D2D3")
if(num>40):
  print("2D3D")
if(num>35):
  print("DD22")

2D3D
DD22

In [ ]:
x=22
if(x%2==0):
  print(x)
elif(x%3==0):
  x=x*2
  print(x)

22

In [ ]:
x=10
y=20
if(x>y):
  x=x+y
  y=y+10
x=100
print(x)
print(y)

100
20

In [ ]:
st="apple##"
z=12
if(z%5==0):
  st=st+"shake"
else:
  st=st+"juice"
print(st)

apple##juice

In [ ]:
n=int(input("enter a number:"))
if(n<0):
  print("down")
else:
  print("up")

enter a number:-12
down

In [ ]:
print("A")
for i in range(1,3):
  print("P")
  print("Q")
print("C")

A
P
Q
P
Q
C

In [ ]:
n=int(input("enter a number:"))
for i in range(1,n+1):
  print(i)

enter a number:6
1
2
3
4
5
6

In [ ]:
n=3
twice=0
for i in range(1,n+1):
  twice=i*2
print(twice)

6

In [ ]:
n=5
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

15

In [ ]:
n=int(input("enter a number:"))
sum=0
for i in range(1,n+1):
 sum+=i*i
print(sum)

enter a number:4
30

In [ ]:
z=1
m=5
for i in range(1,m+1):
 z=z*i
 print(z)

1
2
6
24
120

In [ ]:
n=10
pstr=""
pstr="a"+"b"
print(pstr)
pstr="hello" + "world"
print(pstr)
pstr=str(n)+str(123)
print(pstr)
pstr=str(n)+"b"
print(pstr)
pstr=str(1)+"n"+str(n)
print(pstr)

ab
helloworld
10123
10b
1n10

In [ ]:
num=5
st=""
pt="#"
for i in range(1,num+1):
  st=pt+str(i)+pt
  print(st)

#1#
#2#
#3#
#4#
#5#

In [ ]:
n=101
qstr=""+str(n)
qstr=qstr+"$"+str(n)
print(qstr)
qstr=str(n)+"$"+str(n)
print(qstr)
qstr="abc"
print(qstr)
qstr=qstr+"n"
print(qstr)

101$101
101$101
abc
abcn

In [ ]:
n=4
px=""
py="A"
for i in range(1,n+1):
  px=px+py
  print(py)

A
A
A
A

In [ ]:
z=3
m=4
st=""
qstr="T"
for i in range(1,m+1):
  if(i< z):
    st=st+"right"
    st = st+qstr
print(st)

rightTrightT

In [ ]:
#given a string as input. count number of a's in the string.
#n=input("Enter a string:")
#letter="a"
#count=n.count(letter)
#print(count)

# n=input("Enter a string:")
# letter="a"
# count=n.count(letter)
# print(count)

st=input("enter any string:")
count=0
for i in range(0,len(st)):
   if (st[i]=="a"):
     count = count+1
print(count)

enter any string:akshitasharma
4

In [ ]:
#given a string as input. count number of a's and b's in the string.
#n=input("Enter a string:")
#letter="a"
#count=n.count(letter)
#print(count)
#letter="b"
#count=n.count(letter)
#print(count)

st=input("enter any string:")
count=0
for i in range(0,len(st)):
   if (st[i]=="a"):
     count = count+1
   if (st[i]=="b"):
     count = count+1
print(count)

enter any string:abcabcefghabc
6

In [ ]:
# given a string as input. print 'number:found' if we encounter '1','2','3' in the string. ex: 1:found or 2:found
st=input("enter any string:")
for i in range(0,len(st)):
   if (st[i]=="1"):
     print("1:found")
   if (st[i]=="2"):
     print("2:found")
   if (st[i]=="3"):
     print("3:found")

enter any string:9906083251
3:found
2:found
1:found

In [ ]:
# give output of condition given below based on various values following them.
#condition:(x>0) and (x>y)
x=10
y=20
print((x>0) and (x>y))

False

In [ ]:
#give output of condition given below based on varios values following them:
#condition: (x>y) or (z>x)
x=13
y=15
z=17
print((x>y) or (z>x))

True

In [ ]:
#type method
n=10
name="akshita"
abc=True
print(type(n))
print(type(name))
print(type(abc))

<class 'int'>
<class 'str'>
<class 'bool'>

In [ ]:
#given a string as input. remove all a's from the string.

#n=input("Enter a string:")
#n=n.replace("a","")
#print(n)

#n=input("Enter a string:")
#n=n.replace("a","")
#print(n)

st="akshita"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if (ch!="a"):
    resultst=resultst+ch
print(resultst)

kshit

In [ ]:
#given a string as input. remove all a's and b's from the string.

#n=input("Enter a string:")
#n=n.replace("a","")
#n=n.replace("b","")
#print(n)

st="abracadabra"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if ((ch!="a") and (ch!="b")):
    resultst=resultst+ch
print(resultst)

rcdr

In [ ]:
#given a string as input. count uppercase characters in the string.
st="AkShItA"
count=0
for i in range(0,len(st)):
  ch=st[i]
  if((ch>='A') and (ch<='Z')):
   count=count+1
print(count)

4

In [ ]:
#given a string as input. create a new string containing only lowercase characters.
st="AkShItA"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if((ch>='a') and (ch<='z')):
    resultst=resultst+ch
print(resultst)

kht

In [ ]:
#given a string as input. create a new string containing characters from input with characters '0' and '5' replaced with character '#'.
st="012345"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if((ch=='0') or (ch=='5')):
   resultst=resultst+"#"
  else:
    resultst=resultst+ch
print(resultst)

#1234#

In [ ]:
#given a string as input. remove digits from string.
st="23bca175"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if((ch>='a') and (ch<='z')):
    resultst=resultst+ch
print(resultst)

bca

In [ ]:
#given a string as input. create a new string containing double the characters from input string.
st="akshita"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  resultst=resultst+ch+ch
print(resultst)

aakksshhiittaa

In [ ]:
# given a string as input. create a new string according to following pattern.
st="cat"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  resultst=resultst+ch
  print(resultst)

c
ca
cat

In [ ]:
# given a string as input. reverse it.
st="akshita"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  resultst=ch+resultst
print(resultst)

atihska

In [ ]:
#given a string as input. create a new string containing characters that are present at even position in input string.
st="akshita"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  if(i%2==0):
    resultst=resultst+ch
print(resultst)

asia

In [ ]:
#given a string as input containing uppercase and lowercase characters. create a new string that shifts all uppercase chars in front and lowercase at back.
st="AkShIta"
uppercase = ""
lowercase = ""
for i in range(0,len(st)):
  ch=st[i]
  if((ch>='A') and (ch<='Z')):
    uppercase = uppercase+ch
  else:
    lowercase = lowercase+ch
resultst=uppercase+lowercase
print(resultst)

ASIkhta

In [ ]:
#given a string as input containing ditits, uppercase and lowercase characters. create a new string that shifts all digits in front, lowercase in middle and upercase at the end.
st="23BcA175"
digit=""
uppercase=""
lowercase=""
for i in range(0,len(st)):
  ch=st[i]
  if ((ch>='0')and (ch<='9')):
    digit=digit+ch
  elif((ch>='A')and (ch<='Z')):
      lowercase=lowercase+ch
  else:
      uppercase=uppercase+ch
resultst=digit+lowercase+uppercase
print(resultst)

23175BAc

In [ ]:
st="Job ready python"
resultst=" "
for i in range(0,len(st)):
 ch=st[i]
if (ch==" "):
  resultst=resultst+ch
  print(resultst)

In [ ]:
name="aarti"
print(id(name))

137082097856496

In [ ]:
name="akshita"
print(id(name))

137081842922160

**LIST**

In [ ]:
#given a list as input. print sum of all elements.
l1=[1,2,3,4]
sum=0
for i in l1:
  sum=sum+i
print(sum)

10

In [ ]:
#given a list as input. print number of elements greater than 10.
l=[1,10,12,5,22]
count=0
for i in l:
  if(i>10):
    count=count+1
print(count)

2

In [ ]:
#given a list as input. print sum of even numbers,
l=[1,2,12,5]
sum=0
for i in l:
  if(i%2==0):
    sum=sum+i
print(sum)

14

In [ ]:
#given a list as input. print sum of even and sum of odd elements.
l=[5,10,15,20]
evensum=0
oddsum=0
for i in l:
  if(i%2==0):
    evensum+=i
  else:
    oddsum=+i
print("sum of even number is",evensum)
print("sum of odd number is",oddsum)

sum of even number is 30
sum of odd number is 15

In [ ]:
#given a list as input. print all even numbers.
l=[5,10,15,20,25,30]
evennum=0
for i in l:
  if(i%2==0):
   print(i)

10
20
30

In [ ]:
#given a list as input. increment all elements in the given list by 1.
l1=[1,2,12,5]
lst=0
for i in l1:
   lst=i+1
   print(lst)

2
3
13
6

In [ ]:
#methods in list

#append()
animals=['dog','cat','cow']
animals.append('lion')
print(animals)

#copy()
animals=['dog','cat','cow']
animals.copy()
print(animals)

#insert()
animals=['dog','cow','cat']
animals.insert(2,'lion')
print(animals)

#extend()
animals=['dog','cat','cow']
animals1=['lion','tiger','bull']
animals.extend(animals1)
print(animals)

#clear()
animals=['dog','cat','cow']
animals.clear()
print(animals)

#index()
animals=['dog','cat','cow']
print(animals.index('cow'))

#pop()
animals=['dog','cat','cow']
animals.pop(1)
print(animals)

#remove()
animals=['dog','cat','cow']
animals.remove('cow')
print(animals)

#reverse()
animals=['dog','cat','cow']
animals.reverse()
print(animals)

#sort()
animals=['dog','cat','cow']
animals.sort()
print(animals)

#count()
animals=['dog','cat','cow']
print(animals.count('cat'))

['dog', 'cat', 'cow', 'lion']
['dog', 'cat', 'cow']
['dog', 'cow', 'lion', 'cat']
['dog', 'cat', 'cow', 'lion', 'tiger', 'bull']
[]
2
['dog', 'cow']
['dog', 'cat']
['cow', 'cat', 'dog']
['cat', 'cow', 'dog']
1

In [ ]:
# empty list
l=[]
print(l)

[]

In [ ]:
# 1D list
l=[1,2,3,4]
print(l)

# 2D list
l1=[[1,2,3],[4,5,6]]
print(l1)

# 3D list
l2=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(l2)

[1, 2, 3, 4]
[[1, 2, 3], [4, 5, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
#sort()
animals=[20,30,10,15,46]
animals.sort()
print("sort list:")
print(animals)



# sorted list()
animals1=[20,30,10,15,46]
print("before is:",id(animals))
print("Sorted list:")
print(sorted(animals))
print("after id:",id(animals1))

sort list:
[10, 15, 20, 30, 46]
before is: 140130608042688
Sorted list:
[10, 15, 20, 30, 46]
after id: 140130181464448

In [ ]:
# given a list as input. for each element in the given list if it is odd then convert it to the next number.
l=[4,5,8,9,12]
num=0
for i in l:
  if(i%2!=0):
    num=i+1
  else:
      num=i
  print(num)

4
6
8
10
12

In [ ]:
# given a list as input. create a new list in which each element is 3 times the original
l=[1,3,4,7]
l1=[]
for i in l:
  l1.append(i*3)
print(l1)

[3, 9, 12, 21]

In [ ]:
# given a list of size n as input. creat a new list, where first element of original list is not there. assume list of minimum 1 length
l=[12,10,3,4,5]
l1=[]
for i in range(1,len(l)):
  if(i!=l[0]):
    l1.append(l[i])
print(l1)

[10, 3, 4, 5]

In [ ]:
# given a list of size n as input. create a new list, where first element is 0, and rest elements are same as original.
l=[5,2,1,17]
l1=[]
l1.append(0)
for i in range(0,len(l)):
  if(i!=l[0]):
    l1.append(l[i])
print(l1)

[0, 5, 2, 1, 17]

In [ ]:
#given a list of size n as input. create a new list with double the size of original where elements of first list are repeated one more time
l=[4,1,7,9]
l1=[]

# for i in l:
#   l1.append(i)
# for i in l:
#   l1.append(i)

print(l+l)

[4, 1, 7, 9, 4, 1, 7, 9]

In [ ]:
#given a list of size n as input. create a new list with double the size of original where each element is duplicated.
l=[1,2,3,4,5]
l1=[]
for i in l:
  l1.append(i)
  l1.append(i)
print(l1)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [ ]:
# given a list as input. print difference of largest and smallest element in list.
l=[34,2,43,15]
maxele=l[0]
minele=l[0]
for i in l:
  if(i>maxele):
    maxele=i
  if(i<minele):
    minele=i
print("difference of largest and smallest element is:",maxele-minele)

difference of largest and smallest element is: 41

In [ ]:
marks=[70,65,33,94]
length=len(marks)
print(length)
print(marks)

4
[70, 65, 33, 94]

In [ ]:
num=set([2,1,4,5])
mylst=[]
for z in num:
  if(z%2==0):
    mylst.append(z)
  else:
      mylst.append(z+1)
      mylst.append(z+2)
print(mylst)

[2, 3, 2, 4, 6, 7]

In [ ]:
#given a list of string as input. print number of strings with length >2
l1=["a","ab","abc","1234"]
count=0
for i in l1:
  if(len(i)>2):
    count=count+1
print(count)

2

In [ ]:
# input="aarti@gmail.com"  "ajay@gmail.com"  output="aarti" "ajay"
#st="aarti@gmail.com"
#st1="ajay@gmail.com"
#resultst=""
#resultst1=""
#for i in range(0,5):
 #if(st[i]!="@"):
 # resultst=resultst+st[i]
#print(resultst)
#for i in range(0,4):
# if(st1[i]!="@"):
 # resultst1=resultst1+st1[i]
#print(resultst1)
st="aarti@gmail.com"
st.find("@")
print(st[0:st.find("@")])
st1="ajay@gmail.com"
st1.find("@")
print(st1[0:st1.find("@")])

aarti
ajay

**TUPLE**

In [ ]:
#create a tuple
t1=()
print(type(t1))
t2=(2,4,6,8,"akshita")
print(t2)
print(len(t2))
# indexing
print(t2[3])
#slicing
print(t2[1:3])

#editing a tuple
t2[2]=60
print(t2)

<class 'tuple'>
(2, 4, 6, 8, 'akshita')
5
8
(4, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#loops
for ele in t2:
  print(ele)

#memembership operator-in,not in
print(5 in t2)
print(6 in t2)

2
4
6
8
akshita
False
True

**SET**

In [ ]:
# create a set
set_name=set()
print(type(set_name))

#length of set
set1={2,4,6,8}
print(len(set1))

#indexing
print(set1[1])

#slicing
print(set1[1:3])

<class 'set'>
4

TypeError: 'set' object is not subscriptable

In [ ]:
# basic methods: add() and len()
# example 2.1 using simple method
studentset=set()

studentset.add("rohit") #adding element to our set
studentset.add("manish")

length= len(studentset)  #getting current size of our set
print(length)

studentset.add("manish")
length=len(studentset)
print(length)
print(studentset) #printing set

2
2
{'manish', 'rohit'}

In [ ]:
mylist=[2,1,2,4,3,3,4,5]
myset=set()
length=len(mylist)
for i in range(0,length):
 n=mylist[i]
 myset.add(n)
length=len(myset)
print(length)
print(myset)

5
{1, 2, 3, 4, 5}

In [ ]:
gatepassSwipe=set()
gatepassSwipe.add("surbhi")
gatepassSwipe.add("rohan")
gatepassSwipe.add("sakshi")
gatepassSwipe.add("rohit")
gatepassSwipe.add("sakshi sharma")
gatepassSwipe.add("rohan")
gatepassSwipe.add("tushar")

length=len(gatepassSwipe)
print("Unique:"+ str(length))
print(gatepassSwipe)

Unique:6
{'rohit', 'rohan', 'sakshi', 'tushar', 'surbhi', 'sakshi sharma'}

In [ ]:
# assume a set conatins:
myset=['c','o,','l','a']
zstr="chocolate"
newstr=""
for i in range(0,len(zstr)):
  ch=zstr[i]
  if(ch in myset):
    newstr=newstr+ch
  else:
    newstr=newstr+"#"
print(newstr)

c##c#la##

In [ ]:
zstr="abracadabra"
myset=set()
for i in range(0,len(zstr)):
  ch=zstr[i]
  if ch in myset:
    print("$:"+ ch)
  myset.add(ch)
print(myset)

$:a
$:a
$:a
$:b
$:r
$:a
{'r', 'b', 'a', 'd', 'c'}

**DICTIONARY**

In [ ]:
d1={} #key:value
print(type(d1))
# list cannot be listed as a KEY
# key must always be unique. keys are treated as index number in dictionary.
d2={1:"akshita",2:"aarti",3:"divya"}
print(d2)

<class 'dict'>
{1: 'akshita', 2: 'aarti', 3: 'divya'}

In [ ]:
# acessing an element in dictionary
d2={1:"akshita",2:"aarti",3:"divya"}
print(d2)
print(d2[2])

for ele in d2:
  print(ele)

{1: 'akshita', 2: 'aarti', 3: 'divya'}
aarti
1
2
3

In [ ]:
# using simple methods
pdict= dict()
pdict["9999999911"]="mohit"
pdict["9999999915"]="akash"
length=len(pdict)
print(length)
print(pdict)

pdict["9999999911"]="tushar"
length=len(pdict)
print(length)
print(pdict)

2
{'9999999911': 'mohit', '9999999915': 'akash'}
2
{'9999999911': 'tushar', '9999999915': 'akash'}

In [ ]:

stlist=["ab","ba","ab","aba","ba"]
mymap=dict()
for i in range(0,len(stlist)):
  zstr=stlist[i]
  if (zstr in mymap):
    count=mymap[zstr]
    count=count+1
    mymap[zstr]= count
  else:
    mymap[zstr]=1
    length=len(mymap)
print(length)
print(mymap)

3
{'ab': 2, 'ba': 2, 'aba': 1}

In [ ]:
# assignment
# given an integer list as input. create a list of all the numbers which have last digit 5 in them. print the new list as well as its size
lst=[10,15,20,25,30,25,40]
newlst=[]
for i in range(0,len(lst)):
  if lst[i]%10==5:
    newlst.append(lst[i])
    size=len(newlst)
print("size:",size)
print(newlst)

size: 3
[15, 25, 25]

In [ ]:
# given a list of string as input, set to print all the unique chars in the list. the output can be printed in any order.
lst=["hello","how","are","you!!"]
newlst=""
for i in range(0,len(lst)):
  for j in range(0,len(lst[i])):
    ch=lst[i][j]
    if ch not in newlst:
      newlst=newlst+ch
print(newlst)

helowaryu!

In [ ]:
# given an array of string as input,create a string consisting of the first character of each string in the array
lst=["Trisect","Java","Master"]
newst=""
for i in range(0,len(lst)):
  newst=newst+lst[i][0]
print(newst)

TJM

In [ ]:
# given a string as input, change the case of all the alphabets in the string.
st="trisect"
newst=""
for i in range(0,len(st)):
  ch=st[i]
  if(ch.isupper()):
    newst=newst+ch.lower()
  else:
    newst=newst+ch.upper()
print(newst)

TRISECT

In [ ]:
lst1=[1,3,5]
lst2=[2,4]
lst3=[]
len1=len(lst1)
len2=len(lst2)
max_len=max(len1,len2)
for i in range(max_len):
  if i<len1:
    merge.append(lst1[i])
  if i<len2:
    merge.append(lst2[i])
print(merge)

[1, 2, 3, 4, 5]

# New Section

In [ ]:
st="hello#2$$BD"
speacialch=0
for i in st:
  if(i.isalpha()):
    continue
  elif(i.isdigit()):
    continue
  else:
    speacialch=speacialch+1
print(speacialch)

3

In [ ]:
# given a list of numbers of input. find the most frequently occuring number in the list using dictionary. if more than 1 number has the highest frequency. print allthe numbers
st=["10","20","30","20","40","50"]
d1=dict()
for i in range(0,len(st)):
  if st[i] in d1:
    count=d1[st[i]]
    count=count+1
    d1[st[i]]=count
  else:
    d1[st[i]]=1
print(d1)

{'10': 1, '20': 2, '30': 1, '40': 1, '50': 1}

In [ ]:
n="naman"
st=""
for i in n:
  st=n+st
  if n==st:
    print("the string is palindrome.")
  else:
    print("the string is not palindrome.")

the string is palindrome.
the string is not palindrome.
the string is not palindrome.
the string is not palindrome.
the string is not palindrome.

In [ ]:
 # print pattern
n=2
st=""
for i in range(1,n+1):
  print("*")
  for j in range(1,n+1):
     print("*")

*
*
*
*
*
*

In [ ]:
st="*"
resultst=""
for i in range(0,len(st)):
  ch=st[i]
  resultst=resultst+ch
  print(resultst)

*

In [ ]:
def split_space_with_hyphen(s):

  return s
 s.split(" ")

In [ ]:

s="this is a string"
s1=s.split(" ")
# split_space_with_hyphen(s)
s1

['this', 'is', 'a', 'string']

In [ ]:
"-".join(s1)

'this-is-a-string'

In [ ]:
for i in s:
  if i==" "

In [ ]:
#You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.
s="this is a string"
result=""
for i in s:
  if i ==" ":
    result += "-"
  else:
    result += i
print(result)

this-is-a-string

In [ ]:
lst=["Trisect","Java","Master"]
newst=""
for i in range(0,len(lst)):
  newst=newst+lst[i][0]
print(newst)

TJM

In [ ]:
# GIVEN A STRING AS INPUT. PRINT PATTERNS ACCORDING TO THE FOLLOWING SET OF TEST CASES.
#"JAVA"
# *J
# **A
# ***V
# ****A
s=input()
for i in range(len(s)):
  print("*" *(i+1) + s[i])

JAVA
*J
**A
***V
****A